/* Base */
* {
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
  color: #172b4d;
  background-color: #e5e5e5;
  font-size: 1.125em;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Inter, sans-serif;
  font-weight: 700;
}

ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li {
  margin: 0.25em 1em;
}

a {
  text-decoration: none;
  color: #172b4d;
}

a:link {
  text-decoration: none;
  color: #172b4d;
}

a:hover {
  text-decoration: underline;
  color: #36b37e;
}

a:visited {
  text-decoration: none;
  color: #172b4d;
}

/* Layout */
.page {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
}

main {
  height: 100%;
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  padding-left: 1em;
  padding-right: 1em;
}

nav {
  display: none;
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  position: relative;
  background-image: url("./img/header-illsutration-mobile@2x.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-content {
  max-width: 568px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.hero-content p {
  margin: 0.75em auto;
}

.hero-content h2 {
  font-size: xx-large;
  color: #36b37e;
}

#hero button.scroll-down {
  position: fixed;
  bottom: 0;
  margin-bottom: 1em;
  left: 50%;
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

.nav-toggler {
  border-radius: 0;
  border: none;
  background-color: transparent;
  color: #172b4d;
  font-size: large;
  font-weight: 400;
}

.scroll-down {
  border: none;
  background-color: transparent;
}

.social-icons img {
  margin: 0.15em;
}

@media screen and (min-width: 568px) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header .brand {
    display: none;
  }

  header nav {
    display: inline-block;
  }

  header .nav-toggler {
    display: none;
  }

  #hero {
    background-image: url("./img/Header-llustration-desktop@2x.png");
  }
}
