/* Base */
* {
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
  color: #172b4d;
  font-size: 1em;
  font-weight: 400;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Inter, sans-serif;
  font-weight: 700;
}

ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

li {
  margin: 0.5em;
}

a {
  text-decoration: none;
  color: #172b4d;
}

a:link {
  text-decoration: none;
  color: #172b4d;
}

a:hover {
  text-decoration: underline;
  color: #36b37e;
}

a:visited {
  text-decoration: none;
  color: #172b4d;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-col {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.btn {
  border-radius: 4px;
  border: none;
  padding: 12px;
  background-color: transparent;
  font-weight: 500;
  font-size: 17px;
  margin: 1em auto;
  cursor: pointer;
}

.btn:enabled {
  background-color: #36b37f;
}

.btn:hover {
  background: #36b37f;
  box-shadow: 0 8px 16px 0 rgba(54, 179, 127, 0.24);
}

.btn:active {
  background: #008552;
}

.btn-primary {
  color: #fff;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.card {
  position: relative;
  margin: 1em;
  border-radius: 8px;
  border: 1px solid #ebf0ee;
  padding: 4em 1em;
  grid-column: span 12;
}

.card-image {
  width: 100%;
}

.card-content {
  border-radius: 8px;
  border: none;
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

.card-content-title {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
}

.card-content-list li {
  font-size: 12px;
  font-weight: 600;
  padding: 8px 12px;
  background: #ebf0ee;
  border-radius: 4px;
}

/* Layout */
.page {
  position: relative;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

main {
  height: 100%;
}

/* Header Section */
header {
  padding-left: 0.5em;
  padding-right: 0.5em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.brand {
  width: 100%;
}

nav {
  display: none;
}

.nav-toggler {
  border-radius: 0;
  border: none;
  background-color: transparent;
  color: #172b4d;
  font-size: large;
  font-weight: 400;
}

/* Hero Section */
#hero {
  margin-top: 2.5em;
  padding-top: 4.5em;
  height: 100%;
  position: relative;
  background-image: url("./img/header-illsutration-mobile@2x.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#hero button.scroll-down {
  position: absolute;
  bottom: 3em;
  margin-bottom: 2em;
  left: 45%;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border: none;
  background-color: transparent;
}

.social-icons {
  max-width: 300px;
}

.hero-content {
  max-width: 568px;
  text-align: center;
  padding: 1em;
}

.hero-content p {
  margin: 0.75em auto;
  font-size: 20px;
  font-weight: 400;
}

.hero-content h1 {
  font-size: xx-large;
}

.hero-content h2 {
  font-size: xx-large;
  color: #36b37e;
}

/* Work Section */
#work,
#about {
  text-align: center;
}

#work h2,
#about h2 {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 1em;
}

#work svg {
  margin-bottom: 0.5em;
}

#work .card {
  padding: 0;
}

#work .card .card-content {
  padding-top: 2em;
}

#work ul.card-content-list {
  display: inline-block;
  width: 100%;
}

/* About Section */
#about {
  margin-top: 5em;
}

#about p {
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  margin: 2em auto;
  font-weight: 400;
  font-size: 20px;
  max-width: 568px;
}

#about .card {
  background-color: #ebf0ee;
}

#about ul.card-content-list li {
  color: #36b37e;
  background-color: #fff;
}

#about h1 {
  font-weight: 700;
  font-size: 40px;
  margin: 2em auto;
  padding: 0.5em 1em;
}

/* Tablet and up */
@media screen and (min-width: 568px) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header .brand {
    display: none;
  }

  header nav {
    display: flex;
  }

  header .nav-toggler {
    display: none;
  }

  #hero {
    background-image: url("./img/Header-llustration-desktop@2x.png");
  }

  .card {
    grid-column: span 6;
  }
}

@media screen and (min-width: 768px) {
  .card {
    grid-column: span 4;
  }
}
